@using Microsoft.AspNetCore.Builder;
@using Microsoft.AspNetCore.Localization;
@using Microsoft.Extensions.Options;

@inject IOptions<RequestLocalizationOptions> locOptions
@{
	var cultureItems = locOptions.Value.SupportedCultures
				.Select(c => new SelectListItem
				{
					Value = c.Name,
					Text = c.DisplayName
				}).ToList();
}
<span> | </span>
<span class="text-theme">Lang: </span>
<span>
	<form id="cultureForm" asp-action="Index" method="post">
		<select id="CultureList" asp-items="cultureItems">
			@for (var i = 0; i < cultureItems.Count; i++)
			{
				@cultureItems[i]
			}
		</select>
	</form>
</span>